.blog {
    .blog-nav-bg {
        background: $primary-dark;
        color: $accent;

        .container {
            padding: 13px 0;
        }

        .blog-nav {
            display: flex;
            justify-content: space-between;

            @include pad-below {
                justify-content: center;
            }
        }

        .blog-nav-l {
            display: flex;
        }

        a {
            padding: 0 24px;
            display: block;
            font-size: $h5-font-size;

            @include pad-below {
                font-weight: 700;
                font-size: $font-size-base;
                padding: 0 12px;

            }

            &:hover {
                text-decoration: underline;
                font-weight: 700;
            }

            span {
                @include pad-below {
                    display: none;
                }
            }

            span:hover {
                opacity: 0.8;
            }
        }

    }

    .container {
        padding: $spacer-3xl $spacer-base $spacer-2xl $spacer-base;

        @include pad-below {
            padding: $spacer-2xl $spacer-base $spacer-2xl $spacer-base;
        }

        @include pad {
            padding: $spacer-2xl/2 $spacer-base $spacer-xl $spacer-base;
        }

        h3 {
            font-size: $h2-font-size;
            border-left: 8px solid $primary-dark;
            font-weight: 700;
            padding-left: $spacer-base;
            margin-bottom: $spacer-md;

            @include pad-below {
                font-size: $font-size-base*2;
                margin-bottom: $spacer-base*1.5;
            }
        }

        .blog-group {
            margin: 0 -12px;
        }

        .blog-block {
            display: flex;
            justify-content: space-between;
            margin-bottom: $spacer-base*3.75;

            @include pad-below {
                flex-wrap: wrap;
                margin-bottom: $spacer-base*1.5;
            }

            .blog-image-1 {
                width: 50%;
                background: url(../images/blog-1.png) no-repeat;
                background-size: cover;
                background-position: center center;
                min-height: 400px;
                margin: 0 12px;

                @include pad-below {
                    width: 100%;
                }
            }

            .blog-image-2 {
                width: 50%;
                background: url(../images/blog-2.png) no-repeat;
                background-size: cover;
                background-position: center center;
                min-height: 400px;
                margin: 0 12px;

                @include pad-below {
                    width: 100%;
                }
            }

            .blog-image-3 {
                width: 50%;
                background: url(../images/blog-3.png) no-repeat;
                background-size: cover;
                background-position: center center;
                min-height: 400px;
                margin: 0 12px;

                @include pad-below {
                    width: 100%;
                }
            }

            .blog-image-4 {
                width: 50%;
                background: url(../images/blog-4.png) no-repeat;
                background-size: cover;
                background-position: center center;
                min-height: 400px;
                margin: 0 12px;

                @include pad-below {
                    width: 100%;
                }
            }

            .blog-image-5 {
                width: 50%;
                background: url(../images/blog-5.png) no-repeat;
                background-size: cover;
                background-position: center center;
                min-height: 400px;
                margin: 0 12px;

                @include pad-below {
                    width: 100%;
                }
            }

            .blog-text {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
                padding: 0 12px;

                @include pad-below {
                    width: 100%;
                    align-items: unset;
                }

                h4 {
                    color: $primary;
                    font-size: $font-size-base*2;

                    &:hover {
                        font-weight: 700;
                    }
                }

                .blog-title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: $spacer-base;

                    .title {
                        font-size: $h5-font-size;
                        font-weight: 500;
                    }
                }

                .content {
                    color: #555555;
                    font-size: $h5-font-size;

                    @include pad-below {
                        display: none;
                    }
                }

                .more {
                    color: $primary-dark;
                    font-size: $h6-font-size*2;
                    font-weight: 700;

                    &:hover {
                        font-size: $h2-font-size;
                        color: $primary;
                    }

                    @include pad {
                        display: none;
                    }
                }
            }
        }

        .text-center {
            text-align: center;
        }

        .pagination {
            display: inline-block;

            @include pad-below {
                margin-top: $spacer-xl;
            }

            a {
                color: #000000;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                transition: background-color .3s;
                border: 1px solid #000000;
            }

            a.active {
                background-color: #000000;
                color: $accent;
                border: 1px solid #000000;
            }

            a:hover:not(.active) {
                background-color: $secondary-light;
            }
        }
    }
}