.store-info {
    .container {
        padding: $spacer-3xl $spacer-base $spacer-xl $spacer-base;

        @include pad-below {
            padding: $spacer-base*2.5 $spacer-base $spacer-xl $spacer-base;
        }

        h3 {
            font-size: $h2-font-size;
            border-left: 8px solid $primary-dark;
            font-weight: 700;
            padding-left: $spacer-base;
            margin-bottom: $spacer-md;

            @include pad-below {
                font-size: $h4-font-size;
            }
        }

        .choice-store {
            margin-bottom: $spacer-base*2.5;

            select {
                width: 304px;
                height: 38px;
                border: 1px solid #CED4DA;
                margin-left: 16px;
            }
        }

        .store-info-block {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -12px;

            .store-information {
                width: 40%;
                padding: 0 12px;

                @include pad {
                    width: 100%;
                }
            }

            .store-image {
                min-height: 224px;
                background: url(../images/store-1.png) no-repeat;
                background-size: cover;
                max-width: 100%;
                background-position: center center;
            }

            .store-name {
                padding: 8px 24px;
                border: 1px solid #e0e0e0;
                font-size: $h4-font-size;
            }

            .store-detail {
                padding: 16px 24px;
                border: 1px solid #e0e0e0;

                li {
                    font-size: $h5-font-size;
                    display: flex;
                    align-items: baseline;
                }

                span {
                    font-size: $h6-font-size;
                    margin-right: 11px;
                }
            }

        }

        .store-map {
            width: 60%;
            padding: 0 12px;

            @include pad {
                width: 100%;
                margin-top: $spacer-base*1.5;
            }

            iframe {
                width: 100%;
                min-height: 402px;
            }
        }
    }
}