// 間距
$spacer-base: 1rem; //16px
$spacer-sm: $spacer-base * 0.5; //8px
$spacer-md: $spacer-base * 2; //32px
$spacer-lg: $spacer-base * 3; //48px
$spacer-xl: $spacer-base * 4; //64px
$spacer-2xl: $spacer-base * 5; //80px
$spacer-3xl: $spacer-base * 6; //96px

//字體、行高、大小
$font-size-base: 1rem; //16px
$font-size-sm: $font-size-base * 0.875; //14px
$h1-font-size: $font-size-base * 4; //64px
$h2-font-size: $font-size-base * 3; //48px
$h3-font-size: $font-size-base * 1.75; //28px
$h4-font-size: $font-size-base * 1.5; //24px
$h5-font-size: $font-size-base * 1.25; //20px
$h6-font-size: $font-size-base * 1.125; //18px

$font-style-italic: italic;

//色彩
$primary: #AA0601;
$primary-light: #FBF2F2;
$primary-dark: #650300;

$secondary: #D6D6D6;
$secondary-light: #00000029;
$secondary-dark: #707070;

$accent: #FFFFFF;